<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Update Car</title>
</head>

<body>

<div class="container">

  <h3>Car Directory</h3>
  <hr>

  <p class="h4 mb-4">Car Info</p>

  <form action="#" th:action="@{/cars/update}"
        th:object="${updateCar}" method="POST">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{id}" />

    <select th:field="*{carDetail.type}">
      <option value="0">Select type</option>
      <option  th:each="option : ${types}" th:value="${option}" th:text="${option}"></option>
    </select>

    <select th:field="*{carDetail.color}">
      <option value="0">Select color</option>
      <option  th:each="option : ${colors}" th:value="${option}" th:text="${option}"></option>
    </select>

    <select th:field="*{make.name}">
      <option value="0">Select make</option>
      <option  th:each="option : ${make}" th:value="${option}" th:text="${option}"></option>
    </select>

    <br><br>

    <input type="text" th:field="*{model}"
           class="form-control mb-4 w-25" placeholder="Model">

    <input type="text" th:field="*{vin}"
           class="form-control mb-4 w-25" placeholder="Vin">

    <input type="text" th:field="*{owner.firstName}"
           class="form-control mb-4 w-25" placeholder="Owner First Name">

    <input type="text" th:field="*{owner.lastName}"
           class="form-control mb-4 w-25" placeholder="Owner Last Name">

    <input type="text" th:field="*{carDetail.modelYear}"
           class="form-control mb-4 w-25" placeholder="Model Year">

    <input type="text" th:field="*{carDetail.price}"
           class="form-control mb-4 w-25" placeholder="Price">

    <input type="text" th:field="*{location.postCode}"
           class="form-control mb-4 w-25" placeholder="Postcode">

    <input type="text" th:field="*{location.country}"
           class="form-control mb-4 w-25" placeholder="Country">

    <hr>

    <button type="submit" class="btn btn-info col-2">Save</button>
    <a th:href="@{/cars/list}" class="btn btn-success col-2">Back to Car List</a>

  </form>

  <hr>


</div>

</body>

</html>







